extends layout

block content
  .container-xxl
  //- Authentication of name
  h1.text-center #{name}
    if currentUser
      if currentUser.username === name 
        a(href='users/log-out')  logout


  p.text-center Welcome to #{title}
  .d-flex.gap-4.flex-wrap
    each val in items
      .card.card-width.rounded-3
        a(href=val.url)
          img.card-img-top(src=`/images/${val.name.replace(' ','-')}.jpg`)
        .card-body 
          .card-title= val.name
          .card-text= val.description
          .d-flex.align-items-center.justify-content-between
            .card-text Price: !{val.price}
            a.btn.btn-primary Add to cart
    else 
      p There are no items in inventory. Stock now!
    